.App {
  text-align: center;
  justify-items: center;
  display: grid;
  max-width: 70vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
  @media screen and (max-width: 600px) {
    max-width: 100vh;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
